* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: white;

}
.wrapper{
    width: 960px;
    margin: auto;
    font-family: sans-serif;
}
.header-main {
    text-align: center;
    background-color: white;
    height: 95px;
}
header img {
    margin: 10px 0;
}
.nav-main {
    height: 40px;
    background-color: #017d8e;
}
.nav-main  ul {
    display: inline-block;
}
.nav-main ul li {
    display: inline-block;
    margin-left: 30px;

}
.nav-main ul li a {
    line-height: 40px;
    color: white;
    text-decoration: none;

}
.nav-main ul li a:hover {
    text-decoration: underline;
}
.search {
    float: right;
    line-height: 40px;
    margin-right: 30px;
}
.search2 {
    height: 25px;
    width: 260px;
}
.search1 {
    height: 25px;
    width: 90px;
    margin-left: 10px;
    color: white;
    border: 1px solid white;
    background-color: #414342;

}
.content {
    height: 700px;
}
.content-center {
    float: left;
    width: 75%;
    height: 700px;

}
.content-right {
    float: left;
    width: 25%;
    height: 700px;
    background-color: #017d8e;
}
footer {
    background-color: #017d8e;
    height: 50px;
    text-align: center;
    color: white;
    line-height: 50px;
}

.banner{
    height: 6px;
}
.box-new{
    width: 350px;
    height: 235px;
    float: right;
    padding: 10px;
}

.box2{
    float: left;
    border: 1px solid rgb(107, 127, 9);
    width: 333px;
    height: 137px;
    margin: 10px;
    padding: 10px;
}
.title2 a{
    text-decoration: none;
    color: #FFCC33;
   
}
.title2 a:hover{
    text-decoration: underline;
}
.title a:hover{
    text-decoration: underline;
}
.title a{
    text-decoration: none;
    color: #017d8e;
}
.img-2{
    float: left;
    margin-right: 10px;
}
.text{
    font-size: 12px;
   line-height: 15px;
}
.title2{
    margin-bottom: 10px;
}

.cate-pro{
    line-height: 40px;
     border-bottom: 1px solid #cdcdcd;
     color: white;
     font-weight: bold;
     margin-left: 10px;
}
.list-cate{
    line-height: 30px;
    padding-left: 10px;
}
.list-cate li a:hover{color: white; text-decoration: underline;}

.content-right ul li{
    list-style: none;   
}
.content-right ul li a{
    text-decoration: none;
    color: white;
}
